# 1. 조건문 예제
## 1.1 짝수와 홀수 판별하기

In [15]:
number = int(input("정수를 입력하세요 :"))

if number % 2 == 0:
    print(f"{number}은(는) 짝수입니다.")
else:
    print(f"{numebr}은(는) 홀수입니다.")

정수를 입력하세요 : 20

20은(는) 짝수입니다.

## 1.2 성적에 따른 학점 출력

In [8]:
# 점수를 입력받아 학점을 출력
score = int(input("점수를 입력하세요 (0~100): "))

if score >= 90:
    print("A학점입니다.")
elif score >= 80:
    print("B학점입니다.")
elif score >= 70:
    print("C학점입니다.")
elif score >= 60:
    print("D학점입니다.")
else:
    print("F학점입니다.")

점수를 입력하세요 (0~100):  100

A학점입니다.

## 1.3 로그인 시스템

In [19]:
# 간단한 로그인 시스템
user_id = "admin"
user_pw = "1234"

input_id = input('사용자 아이디를 입력하세요')
input_pw = input('사용자 비밀번호를 입력하세요')

if user_id == input_id and user_pw == input_pw:
    print('로그인 성공!')
else:
    print('등록된 사용자 아이디 또는 비밀번호가 틀립니다.')

사용자 아이디를 입력하세요 admin
사용자 비밀번호를 입력하세요 1234

로그인 성공!

# 2. 반복문 예제

## 2.1 1부터 10까지 숫자 출력 ( for문)

In [24]:
for i in range (1,11,2): #(초기값, 목표값+1, 증가값)
    print(i)

1
3
5
7
9

In [25]:
text_list = ['a','b','c','d']

for txt in text_list:
    print(txt)

a
b
c
d

## 2.2 특정 단 구구단 출력

In [27]:
# 사용자로부터 구구단 단수를 입력받아 출력
dan = int(input("출력 할 구구단의 단수를 입력하세요:"))

for i in range (1, 10):
    print(f'{dan} x {i} = {dan * i}')

출력 할 구구단의 단수를 입력하세요: 2

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

## 2.3 리스트 요소 출력

In [28]:
#리스트에 저장된 과일 이름 출력
fruits = ['사과', '바나나', '포도', '오렌지']

for fruit in fruits:
        print(fruit)

사과
바나나
포도
오렌지

## 2.4 for문을 사용해서 1~100까지 합계 구하기

In [38]:
tot = 0
for i in range(1,101):
   tot = tot + i

print('합계=',tot)

합계= 5050

## 2.5 while문을 사용해서 1~100까지 합계 구하기

In [39]:
# while문에서 break 사용 예제

tot = 0
cnt = 0

while True:
    if cnt > 99:
        break
    cnt = cnt + 1
    tot = tot + cnt
print(f'1부터 {cnt}까지의 합은 {tot}입니다')

1부터 100까지의 합은 5050입니다

## 2.6 continue 사용 예제

In [40]:
# 1부터 10까지 출력하는데 짝수만 출력하시오.

for i in range(1,11):
    if i % 2 == 1:
        continue    
    print(i)

2
4
6
8
10

## 2.7 별 출력 프로그램

In [43]:
print('*'*10)

**********

In [44]:
# 사용자로부터 숫자를 입력받아서 해당 숫자만큼 별을 출력 

n = int(input('출력 할 줄 수를 입력하세요 :'))

for i in range(1, n+1):
    print('*' * i)

출력 할 줄 수를 입력하세요 : 5

*
**
***
****
*****

## 2.8 숫자 피라미드 만들기

In [60]:
n = int(input('피라미드의 높이를 입력하세요. :'))

for i in range(1, n+1):
    for j in range(1, i+1):
        print(j, end=' ')
    print()

피라미드의 높이를 입력하세요. : 6

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

## 2.9 구구단 피라미드 만들기

In [4]:
for i in range(1, 10, 3):
    print(f'\n   {i} 단         {i+1} 단         {i+2} 단')
    for j in range(1,10):
        print(f'{i} x {j} = {i*j}    {i+1} x {j} = {(i+1)*j}    {i+2} x {j} = {(i+2)*j}')

   1 단         2 단         3 단
1 x 1 = 1    2 x 1 = 2    3 x 1 = 3
1 x 2 = 2    2 x 2 = 4    3 x 2 = 6
1 x 3 = 3    2 x 3 = 6    3 x 3 = 9
1 x 4 = 4    2 x 4 = 8    3 x 4 = 12
1 x 5 = 5    2 x 5 = 10    3 x 5 = 15
1 x 6 = 6    2 x 6 = 12    3 x 6 = 18
1 x 7 = 7    2 x 7 = 14    3 x 7 = 21
1 x 8 = 8    2 x 8 = 16    3 x 8 = 24
1 x 9 = 9    2 x 9 = 18    3 x 9 = 27

   4 단         5 단         6 단
4 x 1 = 4    5 x 1 = 5    6 x 1 = 6
4 x 2 = 8    5 x 2 = 10    6 x 2 = 12
4 x 3 = 12    5 x 3 = 15    6 x 3 = 18
4 x 4 = 16    5 x 4 = 20    6 x 4 = 24
4 x 5 = 20    5 x 5 = 25    6 x 5 = 30
4 x 6 = 24    5 x 6 = 30    6 x 6 = 36
4 x 7 = 28    5 x 7 = 35    6 x 7 = 42
4 x 8 = 32    5 x 8 = 40    6 x 8 = 48
4 x 9 = 36    5 x 9 = 45    6 x 9 = 54

   7 단         8 단         9 단
7 x 1 = 7    8 x 1 = 8    9 x 1 = 9
7 x 2 = 14    8 x 2 = 16    9 x 2 = 18
7 x 3 = 21    8 x 3 = 24    9 x 3 = 27
7 x 4 = 28    8 x 4 = 32    9 x 4 = 36
7 x 5 = 35    8 x 5 = 40    9 x 5 = 45
7 x 6 = 42    8 x 6 = 48    9 x 6 = 54
7 x 7 = 49    8 x 7 = 56    9 x 7 = 63
7 x 8 = 56    8 x 8 = 64    9 x 8 = 72
7 x 9 = 63    8 x 9 = 72    9 x 9 = 81

# 원 6개 그리기

In [5]:
import turtle

In [ ]:
t = turtle.Turtle()
t.circle(100)    #반지름이 100인 원을 그려라 
t.left(60)       #각도를 왼쪽으로 60도 만큼 회전 
t.circle(100)
t.left(60)   
t.circle(100)
t.left(60)
t.circle(100)
t.left(60)
t.circle(100)
t.left(60)
t.circle(100)
t.left(60)

turtle.exitoneclick()

In [11]:
import turtle
t = turtle.Turtle()

for _ in range(6):
    t.circle(100)
    t.left(60)

turtle.exitoneclick()

AttributeError: module 'turtle' has no attribute 'exitoneclick'

# n각형 그리기
사용자로부터 정수 n (3이상)을 입력 받아서 한 변의 길이가 100인 정 n각형을 그리는 프로그램 작성

In [28]:
import turtle
import time
t = turtle.Turtle()


for _ in range(5):
    time.sleep(1)
    t.forward(200)
    t.left((360/5)*2)

t.right(360/5)
t.circle(106)

turtle.exitoneclick()

del t
try:
    turtle.bye()
except:
    pass

AttributeError: module 'turtle' has no attribute 'exitoneclick'