In [68]:
#튜플은 프로그램이 시작되면 내용을 변경할 수 없습니다
#중요 정보를 사용할 때 적합 
leg_day = ('스쿼트', '런지', '레그컬')
leg_day

('스쿼트', '런지', '레그컬')

In [69]:
leg_day[0]

'스쿼트'

In [70]:
leg_day[0] = '벤치프레스'

TypeError: 'tuple' object does not support item assignment

In [71]:
leg_day.append('숄더프레스')

AttributeError: 'tuple' object has no attribute 'append'

In [72]:
del leg_day[0[

SyntaxError: incomplete input (1254604102.py, line 1)

In [73]:
#딕셔너리 {key : value}

stock_prices = {'삼성전자' : 60000,
                'sk하이닉스' : 140000,
                '네이버' : 350000
               }
print(stock_prices)

{'삼성전자': 60000, 'sk하이닉스': 140000, '네이버': 350000}

In [74]:
for key_value in stock_prices.keys():
    print(key)

삼성전자
sk하이닉스
네이버

In [76]:
for value in stock_prices.values():
    print(value)

60000
140000
350000

In [77]:
for key, value in stock_prices.items():
    print(key, value)

삼성전자 60000
sk하이닉스 140000
네이버 350000

In [78]:
#key 별 주가를 더해서 평균 주가 프린트하기- sum(), len() 활용  
stock_prices = {
                '삼성전자' : [60000, 61000, 62000],
                'sk하이닉스' : [140000, 141000, 150000],
                '네이버' : [350000, 355000, 360000]
               }

In [79]:
for key, value in stock_prices.items():
    print(key, value)

삼성전자 [60000, 61000, 62000]
sk하이닉스 [140000, 141000, 150000]
네이버 [350000, 355000, 360000]

In [85]:
for key, value in stock_prices.items():
    avg = int(sum(value)/len(value))
    print(f' {key}의 평균 주가는 {avg} 입니다')

 삼성전자의 평균 주가는 61000 입니다
 sk하이닉스의 평균 주가는 143666 입니다
 네이버의 평균 주가는 355000 입니다

In [111]:
#딕셔너리 안의 딕셔너리 활용하기 
#각 회사 별로 주가의 최고가와 최저가를 구하시오. 
stock_prices = {
                '삼성전자' : {'최고가': 80000, '최저가' : 61000, '현재가' : 62000},
                'sk하이닉스' : {'최고가' : 160000, '최저가' : 141000, '현재가' : 150000},
                '네이버' : {'최고가' : 400000, '최저가' : 300000, '현재가' : 360000}
               }
for key, value in stock_prices.items():
    print(f'{key} - 최고가{value["최고가"]}, 최저가{value["최저가"]}')

삼성전자 - 최고가80000, -최저가61000
sk하이닉스 - 최고가160000, -최저가141000
네이버 - 최고가400000, -최저가300000

In [113]:
for key, value in stock_prices.items():
    max_value = value["최고가"]
    min_value = value["최저가"]
    print(f'{key} - 최고가: {max_value}, 최저가: {min_value}')

삼성전자 - 최고가: 80000, 최저가: 61000
sk하이닉스 - 최고가: 160000, 최저가: 141000
네이버 - 최고가: 400000, 최저가: 300000