# 최댓값 찾기

In [1]:
# if문을 사용해 찾기 
ca = [10, 17, 13, 11]

max = ca[0]
if max < ca[1]:
    max = ca[1]
    
if max < ca[2]:
    max = ca[2]

if max < ca[3]:
    max = ca[3]

print(max)

17

In [2]:
# for 문을 사용해 찾기 
ca = [10, 17, 13, 11]

max = ca[0]
for sb in range(1,4):
    if max < ca[sb]:
        max = ca[sb]

print(max)

17

In [9]:
# 원소의 갯수를 모를 경우
ca = [10, 17, 13, 11]

max = ca[0]
for sb in ca:
    if max < sb:
        max = sb

print(max)

17

In [12]:
del max

In [14]:
ca = [10, 17, 13, 11]
max(ca)

17

# 원소의 정렬 (sort)

In [19]:
ca = [21, 10, 11, 15, 13]
mina = ca[0]
minix = 0

for sb in range(1, len(ca)):
    if mina > ca[sb]:
        mina = ca[sb]
        minix = sb
        
temp = ca[0]
ca[0] = ca[minix]
ca[minix] = temp

print(ca)

[10, 21, 11, 15, 13]

In [24]:
ca = [21, 10, 11, 15, 13]
mina = ca[1]
minix = 1

for sb in range(2, len(ca)):
    if mina > ca[sb]:
        mina = ca[sb]
        minix = sb
        
temp = ca[1]
ca[1] = ca[minix]
ca[minix] = temp

print(ca)

[21, 10, 11, 15, 13]

In [25]:
def user_sort(ca):
    for sa in range(0, len(ca))

SyntaxError: incomplete input (3256982181.py, line 2)

In [26]:
ca = [21, 10, 11, 15, 13]
ca.sort()    #오름차순 
print(ca)

[10, 11, 13, 15, 21]

In [27]:
ca = [21, 10, 11, 15, 13]
ca.sort(reverse=True)    #내림차순 
print(ca)

[21, 15, 13, 11, 10]

# 딕셔너리를 매개변수로 사용하는 방법 
딕셔너리는 (key, value)

In [28]:
a = {'mon':'월', 'tue' :'화', 'wed':'수'}
print(a)

{'mon': '월', 'tue': '화', 'wed': '수'}

In [30]:
x = a
print(x)

{'mon': '월', 'tue': '화', 'wed': '수'}

In [31]:
x['mon'] = '일'
print(x)
print(a)

{'mon': '일', 'tue': '화', 'wed': '수'}
{'mon': '일', 'tue': '화', 'wed': '수'}

In [32]:
a = {'mon':'월', 'tue' :'화', 'wed':'수'}
print(a)

{'mon': '월', 'tue': '화', 'wed': '수'}

In [33]:
x = a
print(x)

{'mon': '월', 'tue': '화', 'wed': '수'}

In [34]:
def fch(x):
    x['mon']='일'

In [36]:
a = {'mon':'월', 'tue' :'화', 'wed':'수'}
print(a)
x = a
print(x)

{'mon': '월', 'tue': '화', 'wed': '수'}
{'mon': '월', 'tue': '화', 'wed': '수'}

In [37]:
print('함수 실행 전:', a)
fch(a)
print('함수 실행 후:', a)

함수 실행 전: {'mon': '월', 'tue': '화', 'wed': '수'}
함수 실행 후: {'mon': '일', 'tue': '화', 'wed': '수'}

In [38]:
print('함수 실행 후:', x)

함수 실행 후: {'mon': '일', 'tue': '화', 'wed': '수'}

# * args에서 ' * '의 의미 : 매개변수가 유동적일 때 '*'사용

In [39]:
def my_func(*args):
    for arg in args:
        print(arg)
my_func(1,2,3,4,5)

1
2
3
4
5

In [41]:
def my_func(*xch):
    for arg in xch:
        print(arg)
my_func(1,2,3,4,5)

1
2
3
4
5

##  ** kwargs에서 ' ** '의미  : 딕셔너리 데이터를 파라미터로 사용하는데 (유동적)

In [42]:
def my_func(**kwargs):
    for key, value in kwargs.items():
        print('key:', key, 'value :', value)

In [43]:
my_func(name='john', age=30, gender = 'Male', loc='서울시')

key: name value : john
key: age value : 30
key: gender value : Male
key: loc value : 서울시

In [44]:
def my_func(*args, **kwargs):
    for arg in args:
        print(arg)
    for key, value in kwargs.items():
        print('key:', key, 'value :', value)

In [45]:
my_func(1,2,3,4,5, name='john', age=30, gender = 'Male', loc='서울시')

1
2
3
4
5
key: name value : john
key: age value : 30
key: gender value : Male
key: loc value : 서울시